In [ ]:
#10. 行数のカウント

import pandas as pd

df = pd.read_csv('popular-names.txt', sep='\t', header=None)
len(df)

2780

In [ ]:
!wc popular-names.txt

 2780 11120 55026 popular-names.txt

In [ ]:
#11. タブをスペースに置換

df.to_csv('a.txt', sep=' ', header=False, index=False)

In [ ]:
!sed 's/\t/ /g' popular-names.txt > aa.txt

In [ ]:
#12. 1列目をcol1.txtに，2列目をcol2.txtに保存

df.to_csv('col1.txt', columns=[0], header=False, index=False)
df.to_csv('col2.txt', columns=[1], header=False, index=False)

In [ ]:
!cut -f 1 -d ' ' a.txt > col1.txt
!cut -f 2 -d ' ' a.txt > col2.txt

In [ ]:
#13. col1.txtとcol2.txtをマージ

df1 = pd.read_csv('col1.txt', header=None)
df2 = pd.read_csv('col2.txt', header=None)
df3 = pd.concat([df1,df2], axis=1)
df3.to_csv('merge.txt', sep='\t', header=False, index=False)

In [ ]:
!paste -d '\t' col1.txt col2.txt > merge1.txt

In [ ]:
#14. 先頭からN行を出力

df = pd.read_csv('popular-names.txt', sep='\t', header=None)
df.iloc[:5]

           0  1     2     3
0       Mary  F  7065  1880
1       Anna  F  2604  1880
2       Emma  F  2003  1880
3  Elizabeth  F  1939  1880
4     Minnie  F  1746  1880

In [ ]:
!head -c 20 a.txt

In [ ]:
#15. 末尾のN行を出力

df = pd.read_csv('popular-names.txt', sep='\t', header=None)
df.iloc[-5:]

             0  1      2     3
2775  Benjamin  M  13381  2018
2776    Elijah  M  12886  2018
2777     Lucas  M  12585  2018
2778     Mason  M  12435  2018
2779     Logan  M  12352  2018

In [ ]:
!tail -c 20 a.txt

In [ ]:
#16. ファイルをN分割する

N = 3
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
num = len(df) // N
for i in range(N):
  df1 = df.iloc[i*num:(i+1)*num]
  df1.to_csv('a'+ str(i) + 'txt', sep='\t', header=False, index=False)

In [ ]:
!split -n 4 a.txt

In [ ]:
#17. １列目の文字列の異なり

df = pd.read_csv('popular-names.txt', sep='\t', header=None)
col1 = df.iloc[:,0].unique()
col1.sort()
print(col1)

['Abigail' 'Aiden' 'Alexander' 'Alexis' 'Alice' 'Amanda' 'Amelia' 'Amy'
 'Andrew' 'Angela' 'Anna' 'Annie' 'Anthony' 'Ashley' 'Austin' 'Ava'
 'Barbara' 'Benjamin' 'Bertha' 'Bessie' 'Betty' 'Brandon' 'Brian'
 'Brittany' 'Carol' 'Carolyn' 'Charles' 'Charlotte' 'Chloe' 'Christopher'
 'Clara' 'Crystal' 'Cynthia' 'Daniel' 'David' 'Deborah' 'Debra' 'Donald'
 'Donna' 'Doris' 'Dorothy' 'Edward' 'Elijah' 'Elizabeth' 'Emily' 'Emma'
 'Ethan' 'Ethel' 'Evelyn' 'Florence' 'Frances' 'Frank' 'Gary' 'George'
 'Hannah' 'Harper' 'Harry' 'Heather' 'Helen' 'Henry' 'Ida' 'Isabella'
 'Jacob' 'James' 'Jason' 'Jayden' 'Jeffrey' 'Jennifer' 'Jessica' 'Joan'
 'John' 'Joseph' 'Joshua' 'Judith' 'Julie' 'Justin' 'Karen' 'Kathleen'
 'Kelly' 'Kimberly' 'Larry' 'Laura' 'Lauren' 'Liam' 'Lillian' 'Linda'
 'Lisa' 'Logan' 'Lori' 'Lucas' 'Madison' 'Margaret' 'Marie' 'Mark' 'Mary'
 'Mason' 'Matthew' 'Megan' 'Melissa' 'Mia' 'Michael' 'Michelle' 'Mildred'
 'Minnie' 'Nancy' 'Nicholas' 'Nicole' 'Noah' 'Oliver' 'Olivia' 'Pamela'
 'Patricia' 'Rachel' 'Rebecca' 'Richard' 'Robert' 'Ronald' 'Ruth'
 'Samantha' 'Sandra' 'Sarah' 'Scott' 'Sharon' 'Shirley' 'Sophia'
 'Stephanie' 'Steven' 'Susan' 'Tammy' 'Taylor' 'Thomas' 'Tracy' 'Tyler'
 'Virginia' 'Walter' 'William']

In [ ]:
!cut -f 1 popular-names.txt | sort | uniq

In [ ]:
#18. 各行を3コラム目の数値の降順にソート

df = pd.read_csv('popular-names.txt', sep='\t', header=None)
sorted_df = df.sort_values(2, ascending=False)
print(sorted_df)

            0  1      2     3
1340    Linda  F  99689  1947
1360    Linda  F  96211  1948
1350    James  M  94757  1947
1550  Michael  M  92704  1957
1351   Robert  M  91640  1947
...       ... ..    ...   ...
27      Annie  F   1326  1881
28     Bertha  F   1324  1881
8      Bertha  F   1320  1880
29      Alice  F   1308  1881
9       Sarah  F   1288  1880

[2780 rows x 4 columns]

In [ ]:
!cut -f 3 popular-names.txt | sort -rn

In [ ]:
#19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

df = pd.read_csv('popular-names.txt', sep='\t', header=None)
col1 = df.iloc[:,0]
col1_count = col1.value_counts()
print(col1_count)

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Scott        1
Rachel       1
Kelly        1
Crystal      1
Lucas        1
Name: 0, Length: 136, dtype: int64

In [ ]:
!cut -f 1 popular-names.txt | sort | uniq -c | sort -rn